<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id excepturi
  tenetur, quaerat architecto veniam illum obcaecati voluptatibus eum iste
  facilis corrupti eligendi alias, accusamus, ex hic vero consequatur sed
  voluptas maxime atque. Saepe placeat, ex amet atque explicabo tempore minima
  officia nobis possimus temporibus. Praesentium dolore laudantium, animi omnis
  enim repellendus facere voluptas nostrum officiis nisi nobis aliquam vitae
  accusantium rerum porro laborum alias in, odio autem hic. Nobis, rerum impedit
  delectus sapiente eaque vel quae vitae voluptates, dolore quibusdam cumque
  molestiae error. Iure quidem repudiandae sed officia, error ducimus beatae
  omnis dolores odit voluptatibus esse amet est voluptatem ut.
</p>

<%- include("footer") -%>
